{% extends "base.html" %}

{% block title %}
  <title>Py Blog</title>
{%  endblock %}

{% block content %}
  <h1>Posts</h1>
  <hr>
  <ul>
    {% for post in post_list %}
      <li class="card">
        <div class="card-header">
          <div class="d-flex justify-content-sm-between">
            <a class="h4 card-title text-dark" href="{% url 'blog:post-detail' pk=post.id %}">
              {{ post.title }}
            </a>
            <i class="text-secondary">
              {{ post.created_time }}
            </i>
          </div>
          <i class="card-subtitle text-primary">
              written by: {{ post.owner.username }}
          </i>
        </div>
          <p class="card-body">{{ post.content }}</p>
        <i class="card-footer text-success">{{ post.num_comments }} commentaries</i>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
