{% extends "base.html" %}

{% block title %}
  <title>Post Detail</title>
{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">
        {{ post.title }}
        <div class="float-right">
          <a class="btn btn-info" href="#">UPDATE</a>
          <a class="btn btn-danger" href="#">DELETE</a>
        </div>
      </h1>
      <hr>
      <div class="card-subtitle d-flex justify-content-sm-between">
        <span class="text-primary">written by {{ post.owner.username }} </span>
        <i class="text-secondary">created {{ post.created_time }}</i>
      </div>
    </div>
    <p class="card-body">{{ post.content }}</p>
    <ul class="card-footer">
      <li class="h5 list-unstyled">{{ post.num_comments }} comments</li>
      <hr>
      {% for comment in post.commentaries.all %}
        <li class="card justify-content-center">
          <p class="card-header text-primary d-flex justify-content-sm-between">
            {{ comment.user.username }}
            <i class="text-secondary">at {{ comment.created_time }}</i>
          </p>
          <p class="card-body">{{ comment.content }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
